<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MembershipMapper">

    <resultMap type="membership" id="resultMembership">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="number" property="number"/>
    </resultMap>

    <sql id="select-all">
        SELECT
            id,
            user_id,
            type,
            number
        FROM
            Membership
    </sql>

    <select id="selectAllMembership" resultMap="resultMembership">
        <include refid="select-all"/>
    </select>

    <!-- id로 특정한 하나의 상세 -->
    <select id="selectMembership" parameterType="int" resultMap="resultMembership">
        <include refid="select-all"/>
        WHERE id=#{value}
    </select>


    <select id="getMembershipByUserId" parameterType="int" resultType="membership">
        <include refid="select-all"/>
        where user_id=#{value}
    </select>


    <insert id="insertMembership" parameterType="membership" useGeneratedKeys="true" keyProperty="id">
		INSERT into Membership(user_id, type, number)
        VALUES(#{userId}, #{type}, #{number})
    </insert>

    <update id="updateMembership" parameterType="membership">
        UPDATE Membership
        SET user_id=#{userId}, type=#{type}, number=#{number}
        WHERE id=#{id}
    </update>

    <delete id="deleteMembership" parameterType="int">
		delete from Membership where id=#{value}
    </delete>

</mapper>